@charset "utf-8";

body {
  text-align: center;
  font-family: sans-serif; 
  padding-bottom: 45px;
  background-color: #111111;
  color: #00EE22;
  color: #EEEEEE;
  line-height: 1.5;
}

a,
a:visited {
  display: inline-block;
  color: #EEEE00;
}

a:hover,
a:focus {
  background-color: #FFFF00;
  color: #111111;
  text-decoration: none;
}

p,ul,ol {
  margin: 0 0 1.5em;
}

p {
  margin: 0 0 1.5em;
}

li {
  margin: 0 0 .5em;
  line-height: 1.3;
}

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  padding: 350px 0 10px;
  margin: 0;
  line-height: 1.5;
}

table {
  width: 90%;
  max-width: 960px;
  margin: 0;
  border: 0 none;
}

table td {
  padding: 1em;
  background-color: #111111;
  border: 2px dashed #00BB00;
  line-height: 1.75;
}

table th,
table tr td:first-child {
  padding: 1em;
  border: 2px dashed #00BB00;
  white-space: nowrap;
  vertical-align: top;
}

table td table {
  width: auto;
  max-width: 100%;
  margin: 0;
  border: 0 none;
}




.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
